include ../static/header.html
style 
    include ../static/style.css
body 
div.container-fluid.mainContainer
        div.row
            div.col-md-6.signUpImgCol

            div.col-md-6.formCol
                form(action="/signup", method="post" class="userSignUpForm") 
                    h1.formHeading1.mt-5 SIGN-UP
                    h3.formHeading2 CREATE YOUR ACCOUNT
                    div.form-group.my-4
                        input(id="inputName" name="userName" type="text" placeholder="Name" required="required" autofocus="" class="form-control form-control-lg text-dark")
                    div.form-group.my-4
                        input(id="inputEmail" name="userEmail" type="email" placeholder="Email address" required="required" autofocus="" class="form-control form-control-lg text-dark")
                    div.form-group.my-4
                        input(id="inputPassword" name="userPassword" type="password" placeholder="Password" required="" class="form-control form-control-lg text-dark")

                    div.custom-control.my-3
                        | <button type="submit" class="btn btn-primary text-uppercase mb-2 shadow-lg w-75 ">SIGN UP</button> 
                    
                    div.text-center.d-flex.justify-content-between.mt-4
                        p  OR &nbsp<a href="/" class="font-italic text-muted"> <u>Login To Account</u></a>
                        

include ../static/footer.html       